body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(40, 70%, 70%);
}
h1{
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(40, 70%, 40%);
}
#container{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid hsl(40, 60%, 30%);
  padding: 20px;
  border-radius: 25px;
  background-color: hsl(40, 70%, 80%);
}
#display{
  font-size: 5rem;
  font-family: monospace;
  font-weight: bold;
  color: hsl(40, 40%, 20%);
  text-shadow: 3px 3px 3px hsla(41, 39%, 20%, 0.70);
}
#controls button{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 110px;
  border: none;
  border-radius: 10px;
  cursor:pointer;
  color: white;
}
#startbtn{
  background-color: hsl(123, 92%, 45%);
}
#startbtn:hover{
  background-color: hsl(123, 92%, 50%);
}
#startbtn:active{
  background-color: hsl(123, 92%, 60%);
}
#stopbtn{
  background-color: hsl(0, 100%, 50%);
}
#stopbtn:hover{
  background-color: hsl(0, 100%, 55%);
}
#stopbtn:active{
  background-color: hsl(0, 100%, 60%);
}
#resetbtn{
  background-color: hsl(35, 100%, 50%);
}
#resetbtn:hover{
  background-color: hsl(35, 100%, 55%);
}
#resetbtn:active{
  background-color: hsl(35, 100%, 60%);
}